li,dl{list-style:none;}

.branches-menu{
	overflow: hidden!important;
}

.nav{
	width:100%;
}

.branches-menu ul{
	overflow: hidden;
}

.branches-menu .hidden{
	display:none;
}

.branches-menus a:active, .branches-menus a:focus{
	border-left:0;
}


.item{
	min-width: 240px;
	width:100%;
}

.item a {
	display: inline-block;
	text-decoration: none;
	color: #72767D;
	border: 1px solid #D7D7D7;
	border-top: 0;
	border-right:0;
	width:100%;
	line-height: 36px;
	min-height: 36px;
	position: relative;
	transition: all 0.2s ease-out;
	background-color: #fff;

}

.item-first a{
	border-top: 1px solid #D7D7D7;
}


li.item-open a{
	background-color: #eee;
}

.item a:hover, 
.item a.select,
.sub-select-close > a{
	color:#ff4088!important;
	border-bottom-color:#ff4088;
	background-color: #eee;
}

.item-open>a{
	color:#ff4088!important ;
	background-color: #eee;
}


.item .menu-title{
	margin-left: 24px;
}

i.menu-icon{
	margin-left: 10px;
	width: 30px;
	height: 18px;
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: normal normal normal 14px/1 FontAwesome;
}

.item .arrow{
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	right: 15px;
	top: 12px;
}


.branches-menu .right:before{
	content: "\f105";
}

.item-open .right:before{
	content: "\f107";
}

.download i:before{
	content: "\f019";
}

.heart i:before{
	content:"\f004";
}

.comments i:before{
	content:"\f086";
}

.cubes i:before{
	content:"\f0a1";
}

.road i:before{
	content:"\f018";
}